.configuration-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}
.layout {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 38px;
  font-weight: 800;
}

.check-group {
  display: flex;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.label {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 800;
  margin-left: 12px;
}
